<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ProductsMapper">
    <insert id="insert" parameterType="ProductsDTO">
        INSERT INTO products(name, price, category, info, imgPath)
        VALUES (#{name}, #{price}, #{category}, #{info}, #{imgPath})
    </insert>

    <select id="selectAll" resultType="ProductsDTO" parameterType="hashmap">
        SELECT *
        FROM products
    </select>

    <select id="selectOne" resultType="ProductsDTO" parameterType="int">
        SELECT *
        FROM products
        WHERE id = #{id}
    </select>
</mapper>