<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <select id="selectAll"
            resultType="com.bitcamp.project220714.model.UserDTO">
        SELECT * FROM user
    </select>

    <select id="auth" resultType="UserDTO" parameterType="UserDTO">
        SELECT * FROM user
        WHERE username = #{username}
          AND
            password = #{password}
    </select>

    <insert id="register" parameterType="UserDTO">
        INSERT INTO user(username, password, nickname, phone, email)
        VALUES(#{username}, #{password}, #{nickname}, #{phone}, #{email})
    </insert>

    <select id="selectOne" parameterType="int" resultType="UserDTO">
        SELECT * FROM user
        WHERE id = #{id}
    </select>

</mapper>